body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
}

nav {
    background: #222;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: orange;
}

main {
    margin-top: 80px;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background: #222;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.button:hover {
    background: orange;
    color: black;
}