body {
    margin: 0;
    padding: 10px;
    font-family: Arial, sans-serif;
}

input {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
}

button {
    padding: 10px;
    color: #fafafa;
    background: rgb(33, 189, 103);
    border: none;
    margin-top: 5px;

}

